
.Article {
  left: 0px;
}

.loader {
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 20em;
  margin-bottom: 20em;
}

.background-filled{
  color: #3e3e58;
}

.search-bar {
  background-color: #3e3e58;
  color: #fafafa;
  height: 35em;
  
}

.search-label {
  margin-top: 40px;
  margin-left: 80px;


}

.search-period-end {
  margin-left: 0;
}

.search-location {
  margin-left: 0;
}

.search-key-terms {
  margin-left: 0;
}

.search-name{
  margin-top: 10px;
}

.search-button {
  margin-top: 10px;
  margin-left: 80px;

}

.message{
  margin-top: 30px;
  margin-left: 80px;
}

.report-title{
  font-weight: bold;
}

.report-item{
  margin-left: 28px;
  font-style: italic;
}

.report-box{
  margin-bottom: 10px;
}

.report-card{
  margin-top: 30px;
}

.header1 {
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 80px;
  font-size: 30px;

}

.header2 {
  margin-top: 50px;
  margin-left: 80px;
  font-size: 30px;

}

.headline {
  margin-left: 100px;
  margin-top: 50px;
  font-size: 20px;
}

.headline2 {
  margin-left: 100px;
}

.header3 {
  margin-top: 50px;
}